<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Why Would You Do That?</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
    <img src="~/Content/Backgrounds/JuiceDog2Resized.jpg" />
    
</body>
</html>
