@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Doomed to Repeat is a place for history buffs, by history buffs. We connect students of history with experts to discuss new (or not so new) articles and discoveries. Our site will update on a weekly basis with a new theme as well as daily trivia and articles on that week's theme. This week of November 11th, Veteran's Day, we honor those who paid the ultimate price in "The War To End All Wars", that brought about the tradition of Veteran's Day.</p>
